/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-minecraft-server-info {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

table.minecraftserverinfo .status {
	color: d1242f;
	font-weight: 700;
	letter-spacing: 1px;
}

table.minecraftserverinfo {
	width: 100%;
}

table.minecraftserverinfo.isonline .status {
	color: #1b7f36;
}

table.minecraftserverinfo .playeronline {
	color: #1b7f36;
}

table.minecraftserverinfo .text-muted {
	color: #8895a0;
}
