/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


table.minecraftserverinfo {
	width: 100%;

	td,
	th {
		padding: 0.5em;
	}

	td:first-child,
	th:first-child {
		white-space: nowrap;
	}

	.text-muted img {
		opacity: 0.45;
	}

	.status {
		color: #d1242f;
		font-weight: 700;
		letter-spacing: 1px;
	}

	&.isonline .status {
		color: #1b7f36;
	}

	.playeronline {
		color: #1b7f36;
	}

	.text-muted {
		color: #788289;
		font-weight: 300;
	}

	tr.playerhead {
		text-align: left;
	}

	.light {
		font-weight: 400;
	}

	iframe#dynmap {
		border: none; /* Removes the border */
		height: 300px; /* Sets the height */
		width: 100%; /* Ensures it takes up all the horizontal space */
		border-radius: 8px; /* Rounds the corners */
		overflow: hidden; /* Hides anything outside the border-radius */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
	}

}

